<!DOCTYPE html>
<html>
	{{>head}}

	<body>
	
		<div>
			<img src="/res/lettering.png" style="padding-top:35px; padding-bottom:50px; width:25%; max-width:300px;" class="img-responsive center-block">
		</div>
		
		<div>
			<iframe
				  frameborder="0" 
				  style="
						border:0; 
						display:block; 
						margin:0 auto 0 auto; 
						min-width:600px;
						min-height:500px;
						width:60%;
						
						"
				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDATqH5cMVGIRzKye63ugM9SZAtBNic9zA&q=Lindo-serviço+Produções+E+Design+Lda" allowfullscreen>
			</iframe>
		</div>
		
		{{>footer}}

	</body>
</html>
