<footer class="footer">
  <div class="container">
	<div class="row">
		<div class="col-lg-4">
			<p class="text-muted">Tel.+351 21 839 4122</p>
		</div>
		<div class="col-lg-4">
			<p class="text-muted">
				Email:
					<a href="mailto:lindoservico@lindoservico.pt" target="_top">
						lindoservico@lindoservico.pt
					</a>
			</p>
		</div>
		<div class="col-lg-4">
			<p class="text-muted">Morada: Rua Centieira 7, 1800-056 Lisboa, Portugal</p>
		</div>
</footer>